.main-container {
  padding: 20px;
}

.search-input,
.category-dropdown {
  padding: 8px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 420px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  height: 150px;
  object-fit: contain;
}

.price {
  font-weight: bold;
  color: green;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
